


.logo-div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 1200px;
    height: 100px;
  }
  .medicines {
    position: absolute;
    top: 38px;
    left: 600px;
    cursor: pointer;
  }
  .devices,
  .medlife,
  .supplements {
    position: absolute;
    top: 38px;
    left: 807px;
  }
  .medlife,
  .supplements {
    left: 693px;
  }
  .medlife {
    top: 2px;
    left: 100px;
    font-size: var(--font-size-17xl);
    font-family: var(--font-sans-serif-collection);
    color: var(--color-seagreen);
    display: inline-block;
    width: 173px;
    height: 73px;
    cursor: pointer;
  }
  .signup-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-seagreen);
    width: 97px;
    height: 35px;
  }
  .signup2 {
    position: absolute;
    top: 5.63px;
    left: 21.77px;
    display: inline-block;
    width: 54.34px;
    height: 21.24px;
  }
  .signup1 {
    top: 32px;
    left: 1011px;
    width: 97px;
    height: 35px;
    cursor: pointer;
    color: var(--color-whitesmoke-100);
  }
  .login,
  .login1,
  .signup1 {
    position: absolute;
  }
  .login1 {
    top: 5.63px;
    left: 25.77px;
    display: inline-block;
    width: 54.34px;
    height: 21.24px;
  }
  .login {
    top: 32px;
    left: 891px;
    width: 97px;
    height: 35px;
    cursor: pointer;
    color: var(--color-white);
  }
  .image-5-icon,
  .navbar {
    position: absolute;
    top: 51px;
    left: 130px;
    width: 1200px;
    height: 100px;
  }
  .image-5-icon {
    top: 50px;
    left: 119px;
    width: 100px;
    object-fit: cover;
  }
  .signup-item {
    position: absolute;
    top: 1px;
    left: 0;
    background-color: var(--color-seagreen);
    width: 1519px;
    height: 39px;
  }
  .image-2-icon,
  .image-3-icon,
  .image-4-icon {
    position: absolute;
    top: 8px;
    left: 0;
    width: 13px;
    height: 13px;
    object-fit: cover;
  }
  .image-3-icon,
  .image-4-icon {
    left: 20px;
  }
  .image-4-icon {
    left: 39px;
  }
  .callviberwatsapp9821287731 {
    position: absolute;
    top: 0;
    left: 998px;
    display: inline-block;
    width: 207px;
    height: 25px;
  }
  .social-icons {
    position: absolute;
    top: 9px;
    left: 130px;
    width: 1205px;
    height: 25px;
    font-size: var(--font-size-xs);
    color: var(--color-yellow);
    font-family: var(--font-sans-serif-collection);
  }
  .grid2-child,
  .grid2-child1,
  .grid2-inner,
  .grid2-item,
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gainsboro-100);
    width: 1200px;
    height: 179px;
  }
  .grid2-child1,
  .grid2-inner,
  .grid2-item,
  .rectangle-div {
    top: 314px;
  }
  .grid2-child1,
  .grid2-inner,
  .rectangle-div {
    top: 628px;
  }
  .grid2-child1,
  .rectangle-div {
    top: 942px;
  }
  .grid2-child1 {
    top: 1256px;
  }
  .grid2,
  .signup-inner {
    position: absolute;
    top: 150px;
    left: 119px;
  }
  .grid2 {
    width: 1200px;
    height: 1435px;
    display: none;
  }
  .signup-inner {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1240px;
    height: 773px;
  }
  .already-have-an {
    position: absolute;
    top: 735px;
    left: 141px;
    font-size: 13px;
  }
  .information {
    margin: 0;
  }
  .our-team-of {
    font-weight: 600;
    color: black;
  }
  .p {
    font-family: var(--font-poppins);
  }
  .our-team-of-licensed-pharmacis {
    margin: 0;
    color: var(--color-gray-300);
  }
  .information-our-team-of-container {
    position: absolute;
    top: 0;
    left: 25px;
    display: inline-block;
    width: 282px;
    height: 200px;
  }
  .address-jhamsikhel-lalitpur {
    margin-bottom: 0;
  }
  .company-name-shubham-epharmac {
    margin: 0;
    padding-left: var(--padding-xl);
    color: var(--color-black);
  }
  .about-us-company-container {
    position: absolute;
    top: 3px;
    left: 886px;
    font-size: inherit;
    display: inline-block;
    width: 367px;
    height: 194px;
  }
  .footer-child {
    border-bottom: 2px solid black;
    position: absolute;
    top: 277px;
    left: 0;
    width: 1210px;
    height: 6px;
  }
  .copyright-2023,
  .powered-by-shubham {
    position: absolute;
    top: 306px;
    left: 0;
    font-family: var(--font-sans-serif-collection);
    color: var(--color-black);
  }
  .powered-by-shubham {
    top: 301px;
    left: 991px;
  }
  .footer {
    position: absolute;
    top: 1413px;
    left: 106px;
    width: 1253px;
    height: 343px;
    color: var(--color-seagreen);
  }
  .register {
    position: absolute;
    top: 5px;
    left: 15px;
    display: inline-block;
    width: 71px;
    height: 22px;
  }
  .login2 {
    position: absolute;
    top: 835px;
    left: 145px;
    width: 97px;
    height: 35px;
    color: var(--color-white);
  }
  .image-22-icon {
    position: absolute;
    top: 168px;
    left: 807px;
    width: 552px;
    height: 633px;
    object-fit: cover;
  }
  .password,
  .your-address-details,
  .your-personal-details {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-mid);
    color: var(--color-seagreen);
  }
  .password,
  .your-address-details {
    top: 523px;
    left: 1px;
  }
  .your-address-details {
    top: 393px;
  }
  .line-div,
  .signup-child1,
  .signup-child2 {
    position: absolute;
    top: 25.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-whitesmoke-200);
    box-sizing: border-box;
    width: 565px;
    height: 1px;
  }
  .signup-child1,
  .signup-child2 {
    top: 548.5px;
    left: 0.5px;
  }
  .signup-child2 {
    top: 418.5px;
  }
  .gender {
    position: absolute;
    top: 43px;
    left: 0;
  }
  .ellipse-div,
  .signup-child3 {
    position: absolute;
    top: 69px;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 16px;
    height: 16px;
  }
  .signup-child3 {
    left: 82px;
  }
  .female,
  .first-name,
  .male {
    position: absolute;
    top: 66px;
    left: 20px;
  }
  .female,
  .first-name {
    left: 102px;
  }
  .first-name {
    top: 122px;
    left: 1px;
  }
  .last-name,
  .password1 {
    position: absolute;
    top: 571px;
    left: 6px;
  }
  .last-name {
    top: 122px;
    left: 331px;
  }
  .confirm-password,
  .email {
    position: absolute;
    top: 571px;
    left: 336px;
  }
  .email {
    top: 215px;
    left: 0;
  }
  .phone-number,
  .stateprovince {
    position: absolute;
    top: 215px;
    left: 330px;
  }
  .stateprovince {
    top: 434px;
  }
  .signup-child10,
  .signup-child11,
  .signup-child4,
  .signup-child5,
  .signup-child6,
  .signup-child7,
  .signup-child8,
  .signup-child9 {
    position: absolute;
    top: 145px;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 284px;
    height: 46px;
  }
  .signup-child10,
  .signup-child11,
  .signup-child5,
  .signup-child6,
  .signup-child7,
  .signup-child8,
  .signup-child9 {
    top: 594px;
    left: 5px;
  }
  .signup-child10,
  .signup-child11,
  .signup-child6,
  .signup-child7,
  .signup-child8,
  .signup-child9 {
    top: 145px;
    left: 330px;
  }
  .signup-child10,
  .signup-child11,
  .signup-child7,
  .signup-child8,
  .signup-child9 {
    top: 594px;
    left: 335px;
  }
  .signup-child10,
  .signup-child11,
  .signup-child8,
  .signup-child9 {
    top: 236px;
    left: 0;
  }
  .signup-child10,
  .signup-child11,
  .signup-child9 {
    left: 330px;
  }
  .signup-child10,
  .signup-child11 {
    top: 455px;
  }
  .signup-child11 {
    left: 5px;
  }
  .date-icon,
  .date-of-birth {
    position: absolute;
    top: 306px;
    left: 0;
  }
  .date-icon {
    top: 327px;
    left: 1px;
    width: 285px;
    height: 44px;
  }
  .days,
  .months {
    color: var(--color-gray-100);
  }
  .days {
    position: absolute;
    top: 340px;
    left: 21px;
  }
  .months {
    top: 339px;
    left: 110px;
  }
  .country,
  .months,
  .years {
    position: absolute;
  }
  .years {
    top: 338px;
    left: 218px;
    color: var(--color-gray-100);
  }
  .country {
    top: 432px;
    left: 5px;
  }
  .x7-delivery-support {
    position: absolute;
    top: 640px;
    left: 785px;
    font-size: 30px;
    display: inline-block;
    font-family: var(--font-post-no-bills-colombo);
    width: 352px;
    height: 67px;
  }
  .signup3 {
    position: absolute;
    top: 161px;
    left: 137px;
    width: 1137px;
    height: 707px;
    font-size: var(--font-size-sm);
  }
  .prescription2-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 1240px;
    height: 180px;
  }
  .login-inner {
    position: absolute;
    top: 52.58px;
    left: calc(50% - 115.73px);
    background-color: var(--color-seagreen);
    width: 100.23px;
    height: 35.39px;
    cursor: pointer;
  }
  .upload-your-prescription {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 456.73px;
    height: 48.54px;
    color: #efecec;
  }
  .here,
  .login3 {
    position: absolute;
  }
  .here {
    top: 58.28px;
    left: calc(50% - 84.73px);
    font-size: var(--font-size-mini);
    display: inline-block;
    width: 56.15px;
    height: 21.47px;
  }
  .login3 {
    top: 45.51px;
    left: calc(50% - 157.07px);
    width: 456.73px;
    height: 87.98px;
  }
  .image-19-icon {
    position: absolute;
    top: 17.19px;
    left: 294.5px;
    border-radius: 79.94px;
    width: 147.77px;
    height: 145.62px;
    object-fit: cover;
  }
  .prescription2 {
    position: absolute;
    top: 1115px;
    left: 119px;
    width: 1240px;
    height: 180px;
    font-size: var(--font-size-13xl);
    color: var(--color-white);
  }
  .image-6-icon,
  .image-8-icon,
  .image-9-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 126.38px;
    height: 120px;
    object-fit: cover;
  }
  .image-8-icon,
  .image-9-icon {
    left: 512.78px;
    width: 124.67px;
  }
  .image-9-icon {
    left: 978.95px;
    width: 129.69px;
  }
  .cash-on-delivery,
  .discount-on-medicines,
  .easy-to-return {
    position: absolute;
    top: 38.36px;
    left: 152.28px;
    font-weight: 300;
    display: inline-block;
    width: 125.35px;
    height: 43.28px;
  }
  .cash-on-delivery,
  .easy-to-return {
    left: 637.09px;
  }
  .easy-to-return {
    left: 1134.34px;
    width: 105.66px;
  }
  .offer {
    position: absolute;
    top: 958px;
    left: 119px;
    width: 1240px;
    height: 120px;
    text-align: center;
    font-size: var(--font-size-base);
    font-family: var(--font-sansation-light);
  }
  .signup {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1791px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }

  input[type="text"]{
    width: 300px;
    height: 35px;
  }

  input[type="password"]{
    width: 300px;
    height: 35px;
  }

  
  input[type="radio"]{
   size: 150%;
  }
  
  .button1 {
    background-color: #0f8241; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5%;
    font-family:'Poppins';
  }

  .button2 {
    background-color: #e34e28;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5%;
    font-family:'Poppins';
  }
  